<h1> Attach new video </h1>
<p><strong><em>make sure you paste the link for the embed! Click on the youtube video then the "share" button, after that choose "embed" and you will see on the left "src="https://www.youtube.com/embed/"", link starts from "https://".</strong></em></p>
<%= form_with model: @lab_video, url: lab_lab_videos_path(@lab_video.lab.id) do |f|%>
  <%=f.label :url%>
  <%=f.text_field :url%><br/>

  <%=f.submit%>
<%end%>