<!-- About us header -->
<div class="about-us-header">
  <div>
    <h1>About Digital Lab</h1><br/>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac aliquam libero. Vestibulum mattis lacinia tellus non cursus. Quisque sed augue tristique, ornare ante in, rutrum nisl. Nulla bibendum, metus et aliquam sodales, eros leo vulputate nulla, at egestas neque augue quis est. Vestibulum at massa sit amet neque commodo lacinia eget vel ipsum. Nullam in finibus erat. Duis malesuada, libero et feugiat maximus, erat libero pretium neque, ut tempus nisl ante id augue. Vestibulum auctor augue sit amet laoreet accumsan.</p>
  </div>
</div>
<!-- about us header end -->





<!-- Labs section -->
<div id="labsSection" class="container mt-3 mb-5">
  <h3>Labs</h3>
  <hr/>

  <div class="container px-5">
    <div class="row g-3">

      <% @labs.each do |lab| %>
        <div class="col-md-6 col-sm-12">
          <%= link_to lab_lab_sections_path(lab) do %>
            <div class="scale-on-hover rounded border p-2 bg-light">
              <span style="font-size:18px"><%=lab.name%></span>
            </div>
          <% end %>
        </div>
      <%end%>

    </div>
  </div>

</div>
<!-- Labs section end-->




<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>