<div class="container">
  <h1>Anatomy Lab</h1>
  <hr/>

  <div class="container">
   
    <div class="row mb-5">
      <% @anatomy_sections.each do |section|%>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card border-light shadow rounded-3 mb-3">
            <div class="card-header"><h5><%=section.title%></h5></div>
            <img class="card-image-bottom rounded-bottom" src="/assets/image.webp">
            <%= link_to "", "/labs/anatomy/#{section.title.delete(" ")}?section_title=#{section.title}", :class => "stretched-link" %>
          </div>
        </div>
      <% end%>
    </div>
  </div>
</div>