<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="ratio ratio16x9" style="height:70vh">
          <iframe class="embed-responsive-item shadow" src="https://www.youtube.com/embed/qN3OueBm9F4" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <h1>Biochemistry Lab</h1>
  <hr/>

  <h3>Videos</h3>

  <div class="container">
    <div class="row gy-5">
      <% @videos.each do |video|%>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <button type="button" class="btn shadow" data-bs-toggle="modal" data-bs-target="#exampleModal" data-src="<%=video.video_url%>">
            <%= image_tag video.preview_image, class: "rounded-3 img-fluid"%>
          </button>  
        </div>
      <% end%>
    </div>
  </div>
</div>

<%= javascript_include_tag "modal-bio.js" %>