    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-sm bg-light">

      <div class="container-fluid py-2">
        <a href="/" class="navbar-brand">
          <img src="/assets/digital-lab-logo.png" style="height:80px" alt="Website Logo">
          <h3 style="display: inline-block">Digital Lab</h3>
        </a>

        <ul class="navbar-nav">

          <div class="dropdown">
            <a class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Labs
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <% Lab.all.each do |lab| %>
                <li class="nav-item"><%= link_to lab.name, lab_lab_sections_path(lab), class: "nav-link"%></li>
              <%end%>
            </ul>
          </div>
          
          <li class="nav-item mx-5"><a href="/polygons" class="nav-link" >3D models</a></li>
          
          <%if user_signed_in?%>
            <%=link_to "Log out", destroy_user_session_path, "data-turbo-method": :delete, class: "btn btn-danger"%>
          <%else%>
            <%=link_to "Editor's Log in", new_user_session_path, class: "btn btn-primary"%>
          <%end%>
        </ul>

        <form class="d-flex" action="/search" method="get" accept-charset="UTF-8">
          <input class="form-control me-2" name="query" type="text" placeholder="search"/>
          <input class="btn btn-outline-primary" name="commit" type="submit" value="Search" data-disable-with="Search" />
        </form>
      </div>

    </nav>
    <hr class="m-0"/>
    <!--Nav end-->